*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url("help/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre\ \(1\).jpg");
height: 100vh;
position: relative;
background-position: center center;
background-size: max(1200px,100vw);
background-repeat: no-repeat;
}
body{
    background-color: black;
}
.main .box{
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    
    

}
nav{
    
    max-width: 82vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{ 
    margin-top: 40px;
    color: solid red;
    width: 200px;
    position: relative;
    z-index: 10;
}
nav button{
    margin-top: 40px;
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100%-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.hero> :nth-child(1){
    margin-top: 100px;
    font-family: sans-serif;
 font-weight: 900;
 font-size: 48px;
 text-align: center;

}
.hero> :nth-child(2){
    font-family: sans-serif;
 font-weight: 900;
 font-size: 48px;
 text-align: center;

}
.hero :nth-child(3){
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.hero :nth-child(4){
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    height: 35px;
    width: 80px;
    border: 2px solid white;
}
.btn-red{ 
    background-color: rgb(236, 12, 12);
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    margin-top: 20px;
    border: 2px rgb(236, 12, 12);
}
.btn-en{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    background-color: white;
    height: 35px;
    width: 135px;
    border-radius: 5px;
    background-color:rgba(63, 54, 54, 0.808);
    
    
}
.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: 2px red;
}
.main input{
    width: 550px;
    height: 40px;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 8px;
    background-color: white;
    opacity: 0.2;
}
.villian{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

